<launch>
    <master auto="start"/>
    <remap from="/cmd_vel" to="p3dx/cmd_vel"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9000"/>
    </include>
    <node pkg="rubbish_robot_project" type="main.py" name="main_control" />
</launch>