<launch>
    <arg name="map_path" default="$(find rubbish_robot_project)/maps/gazebo1.yaml"/>
    <node name="task_controller" pkg="rubbish_robot_project" type="task_controller.py"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)"/>

    <node name="amcl" pkg="amcl" type="amcl" args="scan:=p3dx/laser/scan _use_map_topic:=true _odom_frame_id:=p3dx_tf/odom _base_frame_id:=p3dx_tf/base_link _update_min_a:=0.2"/>

    <!-- add nodes here -->
    <node name="task_explore" pkg="rubbish_robot_project" type="task_explore.py"/>
    <node name="image_process" pkg="rubbish_robot_project" type="new_image_processing.py"/>

</launch>