<launch>
    <!-- <master auto="start"/>  -->
    <remap from="/cmd_vel" to="p3dx/cmd_vel"/>
    <arg name="map_name" default="map1"/>

   <node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=p3dx/laser/scan _odom_frame:=p3dx/odom _base_frame:=p3dx_tf/base_link _temporalUpdate:=3.0 _map_update_interval:=1.0"/>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <rosparam file="$(find rubbish_robot_project)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find rubbish_robot_project)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rubbish_robot_project)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rubbish_robot_project)/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find rubbish_robot_project)/base_local_planner_params.yaml" command="load" />
    </node>
    
    <node pkg="rubbish_robot_project" name="auto_map" type="slam_mapping.py" output="screen">
        <param name="map_name" value="$(arg map_name)"/>
    </node>
    <!-- <node pkg="explore_lite" type="explore" name="explore" output="screen"/> -->
    <!-- <include file="$(find explore_lite)/launch/explore.launch"/> -->
</launch>